/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*reihenfolge der imports beachten!!*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\000038}}
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, header, footer, article, section, nav, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000318}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000323}}
body {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000329}}
.main {
  display: table-cell;
  *display: block;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000333}}
.content, .main {
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000336}}
.content:after, .main:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000339}}
html, body, .page {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000343}}
header, footer, .content {
  width: 100%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000348}}
.main {
  display: table-cell;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_reset\.scss}line{font-family:\0000352}}
.bd, .ft, .hd {
  overflow: hidden;
}

/*focus-styles*/
/*in firefox gehen diese nicht mehr automatich wenn man border angibt*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_grid\.scss}line{font-family:\0000338}}
input:focus, input:active, button:focus, button:active, select:focus, select:active, textarea:focus, textarea:active {
  -moz-box-shadow: #0066ff 0 0 2px;
  -webkit-box-shadow: #0066ff 0 0 2px;
  box-shadow: #0066ff 0 0 2px;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_grid\.scss}line{font-family:\0000345}}
input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*display block für alte Browser*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_norm\.scss}line{font-family:\000033}}
header, footer, article, section, nav, figure, figcaption, hgroup {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\000031}}
.page {
  width: 960px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\000035}}
.main {
  display: table-cell;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\000039}}
.leftCol {
  width: 200px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\0000313}}
.rightCol {
  width: 200px;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\0000318}}
.size3of12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 220px;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\0000321}}
.size4of12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 300px;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\0000324}}
.size5of12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 380px;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\0000327}}
.size6of12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 460px;
  margin: 0 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_layout\.scss}line{font-family:\0000330}}
.size12of12 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 940px;
  margin: 0 10px;
}

/*darkgray*/
/*lightgray*/
/*greenish*/
/*light-gray*/
/*middle-gray*/
/*darker-gray*/
/*middle-gray*/
/*Link colors*/
/*LoVe Hate*/
/*font-stacks based on http://www.sitepoint.com/eight-definitive-font-stacks/ including win,mac,linux-fonts*/
/*serif*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\000034}}
.timesBased {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\000037}}
.georgiaBased {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000311}}
.garamonBased {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

/*sans-serif*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000316}}
.arialBased, body {
  font-family: "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000320}}
.trebuchetBased {
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000323}}
.verdanaBased {
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000326}}
.monospace {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000330}}
p {
  margin-bottom: 10px;
}

/*diese nur für extend*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000353}}
.h1, h1 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 12px;
  color: #71a359;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000359}}
.h2, h2 {
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000364}}
.h3, h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000369}}
.h4, h4 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000374}}
.h5, h5 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_typogr\.scss}line{font-family:\0000379}}
.h6, h6 {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_custom\.scss}line{font-family:\000032}}
body {
  color: #333333;
  background: #ededed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_custom\.scss}line{font-family:\000038}}
a {
  color: #71a359;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_color\.scss}line{font-family:\0000334}}
a:visited {
  color: #5f894b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_color\.scss}line{font-family:\0000337}}
a:visited {
  color: #5f894b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_color\.scss}line{font-family:\0000340}}
a:hover {
  color: #71a359;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_color\.scss}line{font-family:\0000344}}
a:active {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_custom\.scss}line{font-family:\0000313}}
section {
  clear: both;
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_custom\.scss}line{font-family:\0000317}}
.height {
  height: 120px;
}

/*Media Objekt*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_module\.scss}line{font-family:\000033}}
.media {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_module\.scss}line{font-family:\000036}}
.media .img {
  float: left;
}

/*Modul-Objekt*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_module\.scss}line{font-family:\0000318}}
.bd, .ft, .hd {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_module\.scss}line{font-family:\0000323}}
.imgLeft img {
  float: left;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_module\.scss}line{font-family:\0000329}}
.imgRight img {
  float: right;
  margin-left: 10px;
}

/*extend Klassen für Buttons*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_buttons\.scss}line{font-family:\000034}}
.iconLink {
  color: #71a359;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_buttons\.scss}line{font-family:\000037}}
.iconLink:after {
  content: "▸";
  display: inline-block;
  padding: 0 6px 0 6px;
}

/*simple one-color rectangled Button*/
/*shiny Button with rounded corners and border*/
/*als extend Klasse, wenn viele verschiedene Elemente also z.b. Links, spans, input, Buttons gestylt werden*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_buttons\.scss}line{font-family:\0000350}}
.shinyButton {
  background-color: #71a359;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a9c89a 0%), to(#71a359 50%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: -moz-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: -ms-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: -o-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  border: 1px solid #5a8247;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #a9c89a;
  -moz-box-shadow: inset 0 1px 0 0 #a9c89a;
  -ms-box-shadow: inset 0 1px 0 0 #a9c89a;
  -o-box-shadow: inset 0 1px 0 0 #a9c89a;
  box-shadow: inset 0 1px 0 0 #a9c89a;
  color: #fff;
  font: 14px Arial, Helvetica, sans-serif;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
}

/*als mixin, wenn wirklich nur input elemente so gestylt werden, es können parameter padding eingegeben werden*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\000033}}
::-moz-focus-inner {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\000037}}
input, button, select, textarea {
  margin: 0;
  margin-bottom: 10px;
  /* vertical-align: middle;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000313}}
input[type=submit], input[type=button], button {
  background-color: #71a359;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a9c89a 0%), to(#71a359 50%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: -moz-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: -ms-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: -o-linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  background-image: linear-gradient(top, #a9c89a 0%, #76a75f 50%, #689652 50%, #71a359 100%);
  border: 1px solid #5a8247;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 0 0 #a9c89a;
  -moz-box-shadow: inset 0 1px 0 0 #a9c89a;
  -ms-box-shadow: inset 0 1px 0 0 #a9c89a;
  -o-box-shadow: inset 0 1px 0 0 #a9c89a;
  box-shadow: inset 0 1px 0 0 #a9c89a;
  color: #fff;
  font: 14px Arial, Helvetica, sans-serif;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #666666;
  -moz-text-shadow: 0 -1px 1px #666666;
  /*@include gradientButton(7px,4px);*/
  cursor: pointer;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_buttons\.scss}line{font-family:\00003111}}
input[type=submit]:hover, input[type=button]:hover, button:hover {
  background-color: #517540;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7f8dad 0%), to(#4a5e8c 50%));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #5f894b 0%, #537842 50%, #436135 50%, #517540 100%);
  background-image: -moz-linear-gradient(top, #5f894b 0%, #537842 50%, #436135 50%, #517540 100%);
  background-image: -ms-linear-gradient(top, #5f894b 0%, #537842 50%, #436135 50%, #517540 100%);
  background-image: -o-linear-gradient(top, #5f894b 0%, #537842 50%, #436135 50%, #517540 100%);
  background-image: linear-gradient(top, #5f894b 0%, #537842 50%, #436135 50%, #517540 100%);
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 0 0 #537842;
  -moz-box-shadow: inset 0 1px 0 0 #537842;
  -ms-box-shadow: inset 0 1px 0 0 #537842;
  -o-box-shadow: inset 0 1px 0 0 #537842;
  box-shadow: inset 0 1px 0 0 #537842;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_buttons\.scss}line{font-family:\00003128}}
input[type=submit]:active, input[type=button]:active, button:active {
  -webkit-box-shadow: inset 0 0 20px 0 #436135, 0 1px 0 white;
  -moz-box-shadow: inset 0 0 20px 0 #436135, 0 1px 0 white;
  -ms-box-shadow: inset 0 0 20px 0 #436135, 0 1px 0 white;
  -o-box-shadow: inset 0 0 20px 0 #436135, 0 1px 0 white;
  box-shadow: inset 0 0 20px 0 #436135, 0 1px 0 white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000323}}
fieldset {
  margin-bottom: 10px;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000329}}
label {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000333}}
label > input {
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000336}}
input[type=text], input[type=number], input[type=email], input[type=email], input[type=url], input[type=tel] {
  line-height: 1.8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000341}}
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000346}}
.inlineBlock {
  display: inline-block;
  vertical-align: top;
  width: 120px;
}

/*extend Klassen*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000353}}
.textInput, input[type=text], input[type=number], input[type=email], input[type=url], input[type=tel], textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 0;
  padding: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000360}}
.border, fieldset, input[type=text], input[type=number], input[type=email], input[type=url], input[type=tel] {
  border-color: #666666;
  border-width: 1px;
  border-style: solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000366}}
.rounded, .rounded div, .rounded fieldset, .rounded textarea, .rounded input[type=text], .rounded input[type=number], .rounded input[type=email], .rounded input[type=url], .rounded input[type=tel] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000373}}
.solid, .solid textarea, .solid input[type=text], .solid input[type=number], .solid input[type=email], .solid input[type=url], .solid input[type=tel], .solid fieldset {
  background: #DADADA;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000377}}
.solid div, .solid textarea div, .solid input[type=text] div, .solid input[type=number] div, .solid input[type=email] div, .solid input[type=url] div, .solid input[type=tel] div, .solid fieldset div {
  background: #F0F0F0;
  padding: 10px 0 7px 10px;
  margin: 7px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_forms\.scss}line{font-family:\0000382}}
.solid textarea, .solid textarea textarea, .solid input[type=text] textarea, .solid input[type=number] textarea, .solid input[type=email] textarea, .solid input[type=url] textarea, .solid input[type=tel] textarea, .solid fieldset textarea, .solid input[type=text], .solid textarea input[type=text], .solid input[type=text] input[type=text], .solid input[type=number] input[type=text], .solid input[type=email] input[type=text], .solid input[type=url] input[type=text], .solid input[type=tel] input[type=text], .solid fieldset input[type=text], .solid input[type=number], .solid textarea input[type=number], .solid input[type=text] input[type=number], .solid input[type=number] input[type=number], .solid input[type=email] input[type=number], .solid input[type=url] input[type=number], .solid input[type=tel] input[type=number], .solid fieldset input[type=number], .solid input[type=email], .solid textarea input[type=email], .solid input[type=text] input[type=email], .solid input[type=number] input[type=email], .solid input[type=email] input[type=email], .solid input[type=url] input[type=email], .solid input[type=tel] input[type=email], .solid fieldset input[type=email], .solid input[type=email], .solid textarea input[type=email], .solid input[type=text] input[type=email], .solid input[type=number] input[type=email], .solid input[type=email] input[type=email], .solid input[type=url] input[type=email], .solid input[type=tel] input[type=email], .solid fieldset input[type=email], .solid input[type=url], .solid textarea input[type=url], .solid input[type=text] input[type=url], .solid input[type=number] input[type=url], .solid input[type=email] input[type=url], .solid input[type=url] input[type=url], .solid input[type=tel] input[type=url], .solid fieldset input[type=url], .solid input[type=tel], .solid textarea input[type=tel], .solid input[type=text] input[type=tel], .solid input[type=number] input[type=tel], .solid input[type=email] input[type=tel], .solid input[type=url] input[type=tel], .solid input[type=tel] input[type=tel], .solid fieldset input[type=tel] {
  background: #FFF;
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\000033}}
.navlist li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\000036}}
.navlist li a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000313}}
.horizontal li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000316}}
.horizontal li a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000325}}
.breadcrumb li:before {
  content: "▸";
  display: inline-block;
  padding: 0 6px 0 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000331}}
.breadcrumb li:first-child:before {
  content: none;
}

/**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000338}}
.dropNav {
  display: block;
  float: left;
  padding: 0 2px 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000343}}
.dropNav ul {
  display: none;
  left: -1px;
  position: absolute;
  top: 98%;
  padding: 0 2px 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000350}}
.dropNav ul a {
  text-align: left;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000356}}
.dropNav li {
  display: block;
  float: left;
  background: #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000361}}
.dropNav li:hover {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000365}}
.dropNav li:hover > ul {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000371}}
.dropNav li a:hover {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000379}}
.dropNav a {
  display: block;
  padding: 2px 5px 2px 10px;
  text-align: left;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000386}}
.dropNav ul li {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000390}}
.dropNav ul ul {
  left: 98%;
  position: absolute;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\0000399}}
.flyNav {
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003102}}
.flyNav ul {
  background: #cccccc;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003107}}
.flyNav ul li:hover > ul {
  left: 100%;
  margin: -28px -25px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003114}}
.flyNav li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003117}}
.flyNav a {
  background: #cccccc;
  display: block;
  padding: 5px 20px 5px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003123}}
.flyNav ul ul {
  left: -99999px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003128}}
.flyNav ul ul li:hover > ul {
  left: 100%;
  margin: -29px -25px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003141}}
.secondlevel li {
  margin-left: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/defifee\/Documents\/fh\/bac\/test1\/sass\/modules\/_lists\.scss}line{font-family:\00003144}}
.thirdlevel li {
  margin-left: 20px;
}
